<h1>About</h1>
<hr>
<h2>License</h2>
This program is under GNU General Public License version 3.
Text of license is availible by the link: <pre>http://www.gnu.org/licenses/gpl.html</pre>
Also you can find the text of license in the <code>LICENSE.txt</code> file in the root of package directory.
<hr>
<h2>Authors</h2>
This program was created by <i>Maxim Borisyak</i> and <i>Alexander Adueko</i>, 2013.<br>
This program is fully free for use and modificate.
Also repository of this project is availible by the link <code>http://github.com/ZloVechno/academic-search</code>.
<br>
Based on <b>Qt</b> and <b>R language</b>.
